* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
}
.menu-area li a {
  text-decoration: none;
}

.menu-area li {
  list-style-type: none;
}

.custom-padding{
  padding-top: 25px;
}

nav {
  position: relative;
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 10px 0;
  background: #333;
  z-index: 1;
  text-align: right;
  padding-right: 2%;
}

.logo {
  width: 15%;
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  text-align: left;
  padding-left: 2%;
  }


.menu-area li {
  display: inline-block;
}

.menu-area a {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
}
.menu-area a:hover {
  background: tomato;
  color: #fff;
}

.menu-area a:hover:after {
  transform: translateY(-50%) rotate(-35deg);
}

nav:before {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-right: 10px solid #333;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  left: 0;
}

nav:after {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-left: 10px solid #333;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  right: 0;
}

body {
font-family: Helvetica;
margin:0px;
}
header  {
min-height: 100vh;
width:100vw;
}

h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 3.5em;
  color: black;
}

img {
  float: right;
  padding-top: 95px;
  padding-right: 40px;
  padding-bottom: 40px;
  width:500px;
  height:500px;

}

section {

  min-height: 100vh;
  width: 100vw;
  display: block;
  padding-top: 50px;
}

p {
  font-size: 2.5em;
  width: 40%;
  margin: 10vh 10vw;
  padding-bottom: 100px;
  padding-right: 30px;
  line-height:1.5em;
}
.slider-1 {
padding-top: 6.875rem;
padding-bottom: 6.375rem;
align-items: center;
padding-left: 200px;
}


.footer {
  background-color: #333;
  overflow: hidden;
  padding: 14px 16px;
  text-align: center;
  background: #4CAF50;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #d6249f;
  color: #fff;
}

h4 {
  font-size: 2.5em;
}

h2,h3 {
  font-size: 2em;
}


<span class="w3-hide-small">
